// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
	
	width:60%;
	float:left;
}

.btn{
	
	width:500px;
}

.addressboxes{
	
	width: 800px;
}

.direccionBox{
	
	float:left;
	padding-right:10px;
}

.codPostBox{
	
	padding-left:10px;
}

.teamChooser{
	
	visibility:hidden;
	position:fixed;
	width:400px;
	height:100px;
	top:50%;
	left:50%;
	z-index:9999;
	background-color:#FFFFFF;
}
